<div class="modal d-block" tabindex="-1" *ngIf="dialog">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="dialog.form">
            <div class="modal-header">
                <h5 class="modal-title">{{dialog.form.title}}</h5>
                <button type="button" class="btn-close" (click)="action.emit('close_dialog')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <app-form [form]="dialog.form" (submit)="action.emit($event)"></app-form>
            </div>
        </div>
        <div class="modal-content" *ngIf="dialog.actions">
            <div class="modal-header">
                <h5 class="modal-title">{{dialog.title}}</h5>
                <button type="button" class="btn-close" (click)="action.emit('close_dialog')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary m-2" *ngFor="let a of dialog.actions"
                    (click)="action.emit(a.action)">{{a.text}}</button>
            </div>
        </div>
    </div>
</div>