.c{
  top:0px;
  position: sticky;
  height: 70px;
  background: #252526;
  color: white;
  .material-icons{
      font-size:30px
  }
  .t{
      height:45px;
      margin: 20px 0px;
      font-family: 'Lilita One', cursive;
      font-size: xxx-large;
      display: inline-block;
      font-weight: 500;
  }

}