<div class="menu">
    <div class="mx-3 d-flex flex-column">
        <div>
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('add')">add</i>
        </div>
        <div  *ngIf="app.current">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('edit')">edit</i>
        </div>
        <div  *ngIf="app.current">
            <i class="material-symbols-outlined text-light pointer mt-4" (click)="action.emit('cut')">cut</i>
        </div>
        <div *ngIf="app.current">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('copy')">content_copy</i>
        </div>
        <div *ngIf="app.current && app.paste">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('paste')">content_paste</i>
        </div>
        <div *ngIf="app.design">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('preview')">preview</i>
        </div>
        <div *ngIf="!app.design">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('upload')">upload</i>
        </div>
        <div *ngIf="app.design">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('download')">download</i>
        </div>
        <div *ngIf="firestore.user && !app.design">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('load')">folder_open</i>
        </div>
        <div *ngIf="firestore.user && app.design">
            <i class="material-icons text-light pointer mt-4" (click)="action.emit('save')">save</i>
        </div>
        <div *ngIf="app.current">
            <i class="material-icons text-danger pointer mt-4" (click)="action.emit('delete')">delete</i>
        </div>
        <div *ngIf="!firestore.user">
            <i class="material-icons text-light pointer mt-4" (click)="login()">login</i>
        </div>
        <div *ngIf="firestore.user">
            <i class="material-icons text-light pointer mt-4" (click)="logout()">logout</i>
        </div>
    </div>
</div>
