<form *ngIf="form">
    <div class="m-3" *ngFor="let control of form.controls">
        <div *ngIf="['text','email','password','number'].indexOf(control.type)>-1">
            <label [for]="control.id" class="form-label" *ngIf="control.label" >{{control.label}}</label>
            <input [type]="control.type" class="form-control" [value]="control.value" (change)="update(control,$event)" [id]="control.id" [placeholder]="control.placeholder" [name]="control.name">
            <span *ngIf="control.values" class="mx-2 material-icons pointer expand" (click)="expand=!expand">{{expand?'expand_less':'expand_more'}}</span>
            <div *ngIf="expand && control.values" class="mt-2 exp-con">
                <button class="m-2 btn btn-sm btn-primary" *ngFor="let v of control.values" (click)="update(control,{'target':{'value':v}})">{{v}}</button>
            </div>
        </div>
        <div *ngIf="control.type=='select'">
            <label [for]="control.id" class="form-label" *ngIf="control.label" >{{control.label}}</label>
            <select class="form-select" [value]="control.value" (change)="update(control,$event)">
                <option *ngFor="let v of control.values">{{v}}</option>
            </select>
        </div>
        <div *ngIf="control.type=='textarea'">
            <label [for]="control.id" class="form-label" *ngIf="control.label" >{{control.label}}</label>
            <textarea class="form-select" [value]="control.value" (change)="update(control,$event)" rows="5">
            </textarea>
        </div>
    </div>
    <div>
        <button class="btn btn-primary m-2" *ngFor="let o of form.actions"
                    (click)="submit.emit(o.action)">{{o.text}}</button>
    </div>
</form>