<div class="container">
  <div class="row m-0">
    <div class="mat-card mt-3 p-3">
      <div class="">
        <span class="fs-5">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="line-height: 1.2;">Quickly start creating a web / mobile app without any code. </li>
            <li class="list-group-item" style="line-height: 1.2;">Create your design and easily turn it into working application. </li>
            <li class="list-group-item" style="line-height: 1.2;">Follows No Code Low Code Principles. </li>
            <li class="list-group-item" style="line-height: 1.2;">Reduce Development efforts and help us to quickly launch app into market.</li>
          </ul>
        </span>
      </div>
      <div class="mt-3 text-center">
        <button mat-raised-button color="primary" (click)="login()">Get Started with QSA using Google Login
          <i class="material-icons mx-1">open_in_new</i>
        </button>
      </div>
    </div>
  </div>
</div>